header{
    height: 6vh;
    min-height:30px;
    padding: 5px;
    background-color: blue;
    color: slateblue;
}

/* header>nav>ul{
    display: flex;
    li{
        list-style: none;
    }
} */

.flex{
    display: flex;
}

.justify-content-between{
    justify-content:space-between;
}

.align-items-center{
align-items: center;
}

a.no-decoration{
    text-decoration: none;
}

.hover-yellow:hover{
    color: yellow;
}

img.h-100{
    height= 2em;
}
.flex{
    display: flex;
}