body{
    background: linear-gradient(
        45deg,
        rgb(255, 253, 253), rgb(196,196, 196), rgb(252, 250, 252), rgb(117,116,116)
    );
}
header {
    height: 6vh;
    min-height: 30px;
    max-height: 35px;
    padding: 5px;
    z-index: 1000;
}

main {
    padding: 35px 10px 25px 10px;
    /* padding-top: 35px;
    padding-bottom: 25px; */
    
}

del{
    font-size: italic;
    font-weight: 100;

}
footer {
    height: 3vh;
    min-height: 22px;
    max-height: 25px;
    bottom: 0;
    text-align: center;
    z-index: 1000;
}

.bg-dark {
    background-color: black;
    color: white;
}
.round-border {
    border-radius: 5px;
}
.basic-shadow {
    box-shadow: 1px 1px 1px 1px grey;
}

.position-fixed {
    position: fixed;
    width: 100%;
}

img.h-100 {
    height: 1.5em;
}

.gap-basic {
    gap: 5px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(186, 186, 186);
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

li.no-decoration {
    list-style: none;
}

a.no-decoration {
    text-decoration: none;
}

.hover-yellow:hover {
    color: yellow;
}

a.login {
    color: white;
    background-color: red;
    box-shadow: none;
}


/* Card */
/* .menu-container{
    display: flex;
    gap: 10px ;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.menu-container{
    max-width: 1000px;
    /* margin:auto; */
    margin-top: 50px;
    display: grid;
    gap: 10px ;
    grid-template-columns: auto ;
}

.menu-container:first-child{
    display: none;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-width: 900px){
.menu-container {
    grid-template-columns: auto auto auto auto;
}
}

.veg {
    color: green;
    border: 1px solid;
    border-radius: 2px;
    font-size: 50%;
    padding: 2px;
    margin: 2px;
}
.non-veg {
    color: rgb(255, 0, 0);
    border: 1px solid;
    border-radius: 2px;
    font-size: 50%;
    padding: 2px;
    margin: 2px;
}
.card { 
    margin: auto;
    width: 180px;
    height: 320px;
    overflow: hidden;
    position: relative;
    transition-duration: 200ms;
    background: linear-gradient((white,white)padding-box),
    linear-gradient(50deg, red, green)border-box;

    .veg { 
        font-size: xx-small;
    }
    .top-right {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10000;
    }
}
.card-img {
    height: 65%;
    background-color: black;
}
.card-body {
    height: 35%;
    padding: 10px;
    span {
        font-size: xx-small;
    }
    
    p.price {
        font-size: small;
    }
.add-to-cart {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    border-radius: 0% ;
    transition-duration: 2s;
}
.add-to-cart:hover{
    transition-duration: 300ms;
    color: black;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.386);
}
}

/* Auth */
#auth-container{
    width: 30%;
    min-height: 40vh;
    /* margin: auto;
    background-color: chartreuse; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
