header{
    background-color: blue;
    color: white;
}

/* header>nav>ul{
    display: flex;
    li{
        list-style: none;
    }
} */

.flex{
    display: flex;
}

.justify-content-between{
    justify-content:space-between;
}

.align-items-center{
align-items: center;
}

a.no-decoration{
    text-decoration: none;
}

.hover-yellow:hover{
    color: yellow;
}